* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.shegeft {
  width: 95%;
  margin: 50px auto;
  padding-block: 20px;
  background-color: crimson;
  border-radius: 16px;
}
section.shegeft .swiper-slide .box {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 254px;
  min-width: 160px;
}
section.shegeft .swiper-slide .box img {
  width: 132px;
  height: 132px;
}

section.shegeft div.smile {
  background-color: crimson;
  width: 100%;
}
section.shegeft div.smile > a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 0 36px 0 26px;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  gap: 10px;
}
section.shegeft div.smile > a > img {
  width: 88px;
  height: 88px;
}
section.shegeft div.smile > a > img.am {
  width: 80px;
  height: 80px;
}
section.shegeft div.smile > a > div.clock {
  display: flex;
  align-items: center;
  gap: 1px;
}
section.shegeft div.smile > a > div.clock > span {
  min-height: 26px;
  min-width: 26px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: black;
}
section.shegeft div.smile > a > div.clock > i {
  font-style: normal;
  font-weight: 700;
}
section.shegeft div.smile > a > div.view {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.shegeft div.smile > a > div.view > span {
  font-size: 14px;
  font-weight: 700;
}
section.shegeft div.smile > a > div.view > img {
  width: 18px;
  height: 18px;
}

section.shegeft .swiper-wrapper > .swiper-slide:nth-child(2) {
  border-radius: 0 8px 8px 0;
}
section.shegeft .swiper-wrapper > .swiper-slide:last-child {
  border-radius: 8px 0 0 8px;
}
@media (min-width: 576px) {
  section.shegeft {
    width: 80%;
    margin: 50px auto;
    padding-block: 20px;
    background-color: crimson;
    border-radius: 16px;
  }
}
